/* Variables */
/*====================COLORS AND BRANDING COLORS==========================*/
/* Fonts Styles */
@font-face {
  font-family: 'Glober_bold';
  src: url("../fonts/Glober_Bold_Free-webfont.woff2") format("woff2"), url("../fonts/Glober_Bold_Free-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Glober_thin';
  src: url("../fonts/Glober_Thin_Free-webfont.woff2") format("woff2"), url("../fonts/Glober_Thin_Free-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Glober_regular';
  src: url("../fonts/globerregular-webfont.woff2") format("woff2"), url("../fonts/globerregular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
/* Default Styles */
*, h1, h2, h3, h4, h5, h6, a, span, strong, b {
  font-family: 'Glober_bold', 'Roboto', serif;
  font-weight: bold; }

p, div, li {
  font-family: 'Glober_Regular', 'Roboto', serif;
  font-weight: 300; }

h4 {
  color: #008ba4; }

p.lead {
  font-size: 200%;
  text-align: center; }

html {
  min-width: 320px;
  overflow-x: hidden; }

a {
  color: #20c4c7;
  transition: color 0.3s ease;
  display: inline-block; }
  a:hover, a:active, a:focus {
    color: #008ba4; }

section {
  margin-bottom: 15px;
  width: 100%;
  float: left; }

nav .footer-links, footer .footer-links {
  margin-top: 20px;
  text-align: right; }
  @media (max-width: 480px) {
    nav .footer-links, footer .footer-links {
      width: 100%;
      text-align: center; } }
nav .nav-logo, footer .nav-logo {
  max-width: 130px;
  margin-top: 20px; }
  @media (max-width: 480px) {
    nav .nav-logo, footer .nav-logo {
      width: 100%;
      text-align: center;
      float: none !important;
      margin: 0 auto;
      margin-top: 20px;
      display: block; } }
nav ul, footer ul {
  margin-top: 20px !important;
  text-align: right; }
  @media (max-width: 480px) {
    nav ul, footer ul {
      margin: 0 !important;
      margin-top: 20px !important;
      text-align: center;
      width: 100%; } }
  nav ul li, footer ul li {
    float: none !important;
    font-size: 16px;
    padding: 0; }
    @media (max-width: 768px) {
      nav ul li, footer ul li {
        padding: 0 15px; } }
    nav ul li.tap-talk, footer ul li.tap-talk {
      font-size: 20px; }
    nav ul li .fa-stack, footer ul li .fa-stack {
      width: 1.5em;
      height: 1.5em;
      line-height: 1.5em; }
    nav ul li .fa-circle, footer ul li .fa-circle {
      color: #40ad4a; }
    nav ul li .fa-stack-2x, footer ul li .fa-stack-2x {
      font-size: 1.5em; }
    nav ul li .fa-stack-1x, footer ul li .fa-stack-1x {
      font-size: 0.9em; }
    nav ul li a, footer ul li a {
      display: inline-block !important;
      background: transparent !important;
      color: #20c4c7;
      padding: 5px !important; }
      nav ul li a:hover, nav ul li a:active, nav ul li a:focus, footer ul li a:hover, footer ul li a:active, footer ul li a:focus {
        color: #19999b; }

footer {
  padding: 20px;
  background: #f4f4f4;
  color: #67676E; }
  footer a {
    color: #67676E;
    font-family: 'Glober_Regular', 'Roboto', serif;
    font-weight: 300; }
    footer a:hover, footer a:active, footer a:focus {
      color: #20c4c7; }

.btn {
  background-color: #40ad4a !important;
  border-color: #008ba4 !important;
  color: white;
  box-shadow: 0 5px #008ba4;
  position: relative;
  transition: background-color 0.3s ease; }
  .btn:hover, .btn:active, .btn:focus {
    background-color: #008ba4 !important;
    color: white; }
  .btn .seal {
    position: absolute;
    left: -10px;
    top: -12px;
    width: 60px;
    height: auto; }

#main-header-section .image-header {
  min-height: 300px;
  width: 100%;
  background-image: url("../img/green-background.png"); }
#main-header-section .header-copy {
  max-width: 600px;
  padding: 25px;
  margin: 0 auto;
  text-align: center;
  color: white; }
  #main-header-section .header-copy h1 {
    text-transform: uppercase;
    position: relative;
    width: 295px;
    margin: 0 auto;
    font-size: 46px; }
    @media (max-width: 992px) {
      #main-header-section .header-copy h1 {
        font-size: 36px;
        width: 230px; } }
    #main-header-section .header-copy h1:before {
      content: "";
      border-bottom: 2px solid white;
      position: absolute;
      left: -310px;
      top: 50%;
      width: 300px; }
    #main-header-section .header-copy h1:after {
      content: "";
      border-bottom: 2px solid white;
      position: absolute;
      right: -310px;
      top: 50%;
      width: 300px; }
  #main-header-section .header-copy h2 {
    font-size: 38px;
    line-height: 55px; }
    #main-header-section .header-copy h2 span {
      padding-bottom: 2px;
      border-bottom: 5px solid #e81010; }
    @media (max-width: 992px) {
      #main-header-section .header-copy h2 {
        font-size: 32px;
        line-height: 46px; } }

.video-wrapper {
  position: relative; }
  .video-wrapper .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    position: absolute;
    text-align: center;
    cursor: pointer; }
    .video-wrapper .overlay .overlay-copy {
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      font-size: 20px;
      color: white; }
      .video-wrapper .overlay .overlay-copy .hand_arrow {
        background-image: url("../img/hand-arrow.png");
        width: 56px;
        height: 44px;
        display: inline-block;
        background-size: 100%;
        left: 0;
        bottom: 0;
        background-repeat: no-repeat;
        margin-left: 140px;
        margin-right: 10px; }
    .video-wrapper .overlay .fa {
      font-size: 8em !important;
      color: red;
      text-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.5);
      position: relative; }
      .video-wrapper .overlay .fa:after {
        font-family: FontAwesome;
        content: "\f04b";
        color: #fff;
        position: absolute;
        font-size: 35%;
        width: 100%;
        height: 100%;
        left: 4px;
        top: 50px;
        vertical-align: middle; }
      @media (max-width: 480px) {
        .video-wrapper .overlay .fa {
          font-size: 4em !important; }
          .video-wrapper .overlay .fa:after {
            font-family: FontAwesome;
            content: "\f04b";
            color: #fff;
            position: absolute;
            font-size: 35%;
            width: 100%;
            height: 100%;
            left: 1px;
            top: 26px;
            vertical-align: middle; } }

.wistia_responsive_wrapper {
  background: #e5e5e5;
  min-height: 200px; }

.product-container {
  margin-top: 20px; }
  .product-container p.most-popular {
    text-transform: uppercase;
    visibility: hidden;
    padding: 5px 10px;
    text-align: center;
    color: white;
    margin-bottom: 0; }
  .product-container.most-popular {
    background: #008ba4;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    padding: 15px;
    padding-top: 0; }
    .product-container.most-popular p.most-popular {
      visibility: visible;
      text-transform: uppercase;
      padding: 5px 10px;
      text-align: center;
      color: white;
      margin-bottom: 0; }
  .product-container .inner-container {
    padding: 15px;
    padding-bottom: 30px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background: white;
    position: relative; }
    .product-container .inner-container .currency-symbol {
      font-size: 85%; }
    .product-container .inner-container .currency {
      text-decoration: underline;
      font-size: 46%;
      vertical-align: middle;
      margin-bottom: 6px;
      display: inline-block; }
    .product-container .inner-container .product-price-day {
      font-size: 140%;
      background-image: url("../img/highlights.png");
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat; }
    .product-container .inner-container .promo-circle {
      position: absolute;
      right: -40px;
      top: -40px;
      background: #e87b15;
      color: #fff;
      padding: 12px;
      text-align: center;
      height: 70px;
      width: 70px;
      border-radius: 50%;
      z-index: 2; }
      .product-container .inner-container .promo-circle .percent-off {
        font-size: 20px; }
    .product-container .inner-container.first .promo-circle {
      right: auto;
      left: -40px; }
      @media (max-width: 768px) {
        .product-container .inner-container.first .promo-circle {
          left: auto;
          right: -40px; } }

#secondary-info .col-sm-4 {
  margin-top: 20px; }
  @media (max-width: 768px) {
    #secondary-info .col-sm-4 {
      margin-top: 15px; } }
  #secondary-info .col-sm-4 h2, #secondary-info .col-sm-4 h3 {
    text-align: center;
    margin-top: 0; }
  #secondary-info .col-sm-4 .well {
    background-color: white;
    border: 2px solid black;
    border-radius: 0;
    padding: 8px; }
    #secondary-info .col-sm-4 .well table {
      margin: 0; }
      #secondary-info .col-sm-4 .well table td {
        padding: 2px; }
    #secondary-info .col-sm-4 .well table, #secondary-info .col-sm-4 .well table p, #secondary-info .col-sm-4 .well td, #secondary-info .col-sm-4 .well table td small {
      font-family: 'Glober_bold', 'Roboto', serif !important;
      font-weight: bold !important; }
      #secondary-info .col-sm-4 .well table td:last-of-type, #secondary-info .col-sm-4 .well table p td:last-of-type, #secondary-info .col-sm-4 .well td td:last-of-type, #secondary-info .col-sm-4 .well table td small td:last-of-type {
        text-align: right; }
  #secondary-info .col-sm-4.guarantee .well {
    padding: 20px;
    border: none;
    background: url("../img/green-background.png") center center no-repeat;
    background-size: cover; }
    #secondary-info .col-sm-4.guarantee .well h2 {
      color: #e87b15; }
    #secondary-info .col-sm-4.guarantee .well img {
      margin: 0 auto;
      max-width: 180px; }
      #secondary-info .col-sm-4.guarantee .well img.seal {
        max-width: 130px;
        margin-bottom: 20px; }
    #secondary-info .col-sm-4.guarantee .well .inner-container {
      padding: 25px;
      padding-bottom: 30px;
      text-align: center;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      background: white;
      position: relative; }
  #secondary-info .col-sm-4.guarantee .signature-text-box {
    width: 150px;
    margin: 0 auto; }
    #secondary-info .col-sm-4.guarantee .signature-text-box h5 {
      font-size: 20px;
      margin-bottom: 0; }
  #secondary-info .col-sm-4.as-seen-on h2 {
    margin: 0; }
  #secondary-info .col-sm-4.as-seen-on .well {
    padding: 0;
    border: none;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); }
    #secondary-info .col-sm-4.as-seen-on .well .inner-container {
      padding: 15px; }
      #secondary-info .col-sm-4.as-seen-on .well .inner-container img {
        width: 100%; }
      #secondary-info .col-sm-4.as-seen-on .well .inner-container .col-xs-4 {
        padding-right: 0; }
    #secondary-info .col-sm-4.as-seen-on .well h2 {
      background: #4c813d;
      font-size: 20px;
      padding: 10px;
      color: white; }
  #secondary-info .col-sm-4.as-seen-on .scientific-refs {
    padding: 0 20px; }
    #secondary-info .col-sm-4.as-seen-on .scientific-refs a.view-full-list {
      margin-bottom: 25px;
      font-size: 20px;
      color: #008ba4;
      text-align: center;
      display: block; }
    #secondary-info .col-sm-4.as-seen-on .scientific-refs h3 {
      color: #008ba4; }
    #secondary-info .col-sm-4.as-seen-on .scientific-refs ol {
      padding-left: 20px; }
      #secondary-info .col-sm-4.as-seen-on .scientific-refs ol li {
        margin-bottom: 5px; }

/*# sourceMappingURL=style.css.map */
