/* Default Styles */

*, h1, h2, h3, h4, h5, h6, a, span, strong, b {
	font-family: 'Glober_bold', 'Roboto', serif;
	font-weight: bold;
}

p, div, li {
	font-family: 'Glober_Regular', 'Roboto', serif;
	font-weight: 300;
}

h4 {
	color: $algae-dk-aqua;
}

p.lead {
	font-size: 200%;
	text-align: center;
}

html {
	min-width: 320px;
	overflow-x: hidden;
}

a {
	color: $algae-aqua;
	transition: color 0.3s ease;
	display: inline-block;

	@include hover-state {
		color: $algae-dk-aqua;
	}
}

section {
	margin-bottom: 15px;
	width: 100%;
	float: left;
}

nav, footer {

	.footer-links {
		margin-top: 20px;
		text-align: right;

		@include xs {
			width: 100%;
			text-align: center; 
		}
	}

	.nav-logo {
		max-width: 130px;
		margin-top: 20px;

		@include xs {
			width: 100%;
			text-align: center;
			float: none !important;
		    margin: 0 auto;
		    margin-top: 20px;
		    display: block;
		}
	}

	ul {
		margin-top: 20px !important;
		text-align: right;

		@include xs {
			margin: 0 !important;
			margin-top: 20px !important;
			text-align: center;
			width: 100%;
		}

		li {
		float: none !important;
		font-size: 16px;
		padding: 0;

		@include s {
			padding: 0 15px;
		}

			&.tap-talk	{
				font-size: 20px;
			}

			&.speak-specialist {
				a {
					color: black !important;
				}
			}

			.fa-stack {
				width: 1.5em;
				height: 1.5em;
				line-height: 1.5em;
			}

			.fa-circle {
				color: $algae-green;
			}

			.fa-stack-2x {
				font-size: 1.5em;
			}

			.fa-stack-1x {
				font-size: 0.9em;

			}

			a {
				display: inline-block !important;
				background: transparent !important;
				color: $algae-aqua;
				padding: 5px !important;

				@include hover-state {
					
					color: darken($algae-aqua, 10%);
				}
			}
		}
	}
}

footer {
	padding: 20px;
	background: #f4f4f4;
	color: $algae-gray;

	a {
		color: $algae-gray;
		font-family: 'Glober_Regular', 'Roboto', serif;
		font-weight: 300;

		@include hover-state {
				color: $algae-aqua;
		}

	}
}

.btn {
	background-color: $algae-green !important;
	border-color: $algae-dk-aqua !important;
	color: white;
	box-shadow: 0 5px $algae-dk-aqua;
	position: relative;
	transition: background-color 0.3s ease;

	@include hover-state {
		background-color: $algae-dk-aqua !important;
		color: white;
	}

	.seal {
		position: absolute;
		left: -10px;
		top: -12px;
		width: 60px;
		height: auto;
	}	
}

#main-header-section {
	.image-header {
		min-height: 300px;
		width: 100%;
		background-image: url('../img/green-background.png')
	}

	.header-copy {
		max-width: 600px;
		padding: 25px;
		margin: 0 auto;
		text-align: center;
		color: white;

		h1 {
			text-transform: uppercase;
			position: relative;
			width: 295px;
			margin: 0 auto;
			font-size: 46px;

			@include m {
				font-size: 36px;
				width: 230px;
			}
			
			&:before {
				content:"";
				border-bottom: 2px solid white;
				position: absolute;
				left: -310px;
				top: 50%;
				width: 300px;
			}

			&:after {
				content:"";
				border-bottom: 2px solid white;
				position: absolute;
				right: -310px;
				top: 50%;
				width: 300px;
			}
		}

		h2 {
			font-size: 38px;
			line-height: 55px;

			span {
				padding-bottom: 2px;
				border-bottom: 5px solid #e81010;
			}

			@include m {
				font-size: 32px;
				line-height: 46px;
			}
		}
	}
}

.video-wrapper {
	position: relative;
	.overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 1;
		position: absolute;
		text-align: center;
		cursor: pointer;

		.overlay-copy {
			@include vertical-align;
			font-size: 20px;
			color: white;

			.hand_arrow {
			  background-image: url("../img/hand-arrow.png");
			     width: 56px;
			    height: 44px;
			    display: inline-block;
			    background-size: 100%;
			    left: 0;
			    bottom: 0;
			    background-repeat: no-repeat;
			    margin-left: 140px;
			    margin-right: 10px;
			}
		}
		

		.fa {
			font-size: 8em !important;
			color: red;
			text-shadow: 0 0 10px 10px rgba(black, 0.5);
			position: relative;

			&:after {
				font-family: FontAwesome;
			    content: "\f04b";
			    color: #fff;
			    position: absolute;
			    font-size: 35%;
			    width: 100%;
			    height: 100%;
			    left: 4px;
			    top: 50px;
			    vertical-align: middle;
			}

			@include xs {
				font-size: 4em !important;

				&:after {
			    	font-family: FontAwesome;
				    content: "\f04b";
				    color: #fff;
				    position: absolute;
				    font-size: 35%;
				    width: 100%;
				    height: 100%;
				    left: 1px;
				    top: 26px;
				    vertical-align: middle;
			    }
			}
		}
	}
}

.wistia_responsive_wrapper {
	background: $gray-lightest;
	min-height: 200px;
	
}

.product-container {

	margin-top: 20px;

	p.most-popular {
			text-transform: uppercase;
			visibility: hidden;
			padding: 5px 10px;
			text-align: center;
			color: white;
			margin-bottom: 0;
		}

	&.most-popular {
		background: $algae-dk-aqua;
		box-shadow: 0 0 5px rgba(black, 0.4);
		padding: 15px;
		padding-top: 0;

		p.most-popular {
			visibility: visible;
			text-transform: uppercase;
			padding: 5px 10px;
			text-align: center;
			color: white;
			margin-bottom: 0;
		}
	}

	.inner-container {
		padding: 15px;
		padding-bottom: 30px;
		text-align: center;
		box-shadow: 0 0 5px rgba(black, 0.2);
		background: white;
		position: relative;

		img.img-responsive {
			    margin: 0 auto;
		}

		.currency-symbol {
			font-size: 85%;

		}

		.currency {
		    text-decoration: underline;
		    font-size: 46%;
		    vertical-align: middle;
		    margin-bottom: 6px;
		    display: inline-block;
		}

		.product-price-day {
			font-size: 140%;
			background-image: url("../img/highlights.png");
			background-position: center center;
			background-size: contain;
			background-repeat: no-repeat;
		}

		.promo-circle {
			position: absolute;
		    right: -40px;
		    top: -40px;
		    background: $algae-orange;
		    color: #fff;
		    padding: 12px;
		    text-align: center;
		    height: 70px;
		    width: 70px;
		    border-radius: 50%;
		    z-index: 2;

		    .percent-off {
		    	font-size: 20px;
		    }

		    @include s {

		    }
		}
	
		&.first {
			.promo-circle {
				right: auto;
				left: -40px;

				@include s {
					left: auto;
					right: -40px;
				}
				
			}
		}
	}
}

#secondary-info {

	.col-sm-4 {
		margin-top: 20px;

		@include s {
			margin-top: 15px;
		}

		h2, h3 {
			text-align: center;
			margin-top: 0;
		}

		h5 {
		}

		.well {
			background-color: white;
			border: 2px solid black;
			border-radius: 0;
			padding: 8px;

			table {
				margin: 0;

				td {
					padding: 2px;
				}
			}

			table, table p, td, table td small {
				font-family: 'Glober_bold', 'Roboto', serif !important;
				font-weight: bold !important;

				td:last-of-type {
					text-align: right;
				}
			}
		}	

		&.guarantee {
			.well {
				padding: 20px;
				border: none;
				background: url('../img/green-background.png') center center no-repeat;
				background-size: cover;

				h2 {
					color: $algae-orange;
				}

				img {
					margin: 0 auto;
					max-width: 180px;

					&.seal {
						max-width: 130px;
						margin-bottom: 20px;
					}
				}

				.inner-container {
					padding: 25px;
					padding-bottom: 30px;
					text-align: center;
					box-shadow: 0 0 5px rgba(black, 0.2);
					background: white;
					position: relative;
				}
			}

			.signature-text-box {
				width: 150px;
				margin: 0 auto;

				h5 {
					font-size: 20px;
					margin-bottom: 0;
				}
			}
		}

		&.as-seen-on {
			h2 {
				margin: 0;
			}

			.well {
				padding: 0;
				border: none;
				background: white;
				box-shadow: 0 0 5px rgba(black, 0.2);

				.inner-container {
					padding: 15px;
					img {
						width: 100%;
					}

					.col-xs-4 {
						padding-right: 0;
					}
				}
 				
 				h2 {
					background: $algae-dk-green;
					font-size: 20px;
					padding: 10px;
					color: white;
				}
			}

			.scientific-refs {
				padding: 0 20px;

				a.view-full-list {
					margin-bottom: 25px;
					font-size: 20px;
					color: $algae-dk-aqua;
					text-align: center;
					display: block;
				}
				h3 {
					color: $algae-dk-aqua;
				}
				ol {
					padding-left: 20px;

					li {
						margin-bottom: 5px;
					}
				}
			}
		}
	}	
}